form {
    width: 100px;
    margin: 200px auto;
    text-align:  center;
}

input{
    display: block;
    margin: 20px auto;
    width: 450px;
    height: 30px;
    top: 50px;
    border-radius: 10px;
    box-sizing: border-box;
    border-width: 1px;
}

h3, .fa-user{
    font-size: 20px;
}

.fa-user-circle{
    font-size: 50px;
}

a {
    color: black;
}

.container2 {
    position: relative;
    top: 250px;
    text-align: center;
    width: 500px;
    height: 35%;
    margin: 15px auto;
    margin-left: 700px;
    padding: 20px;
    background-color:rgb(255, 255, 255);
}

.botao {
    background-color: #ffffff;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    align-items: center;
    text-align: center;
    justify-content: center;

}

button {
    background-color: #8b8080;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    align-items: center;
    text-align: center;
    justify-content: center;
}

button:hover {
    background-color: #4f4f4f;
} 
